<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>청년정책 알려DREAM</title>
    <link rel="stylesheet" href="/static/select_styles.css">
    <link rel="icon" type="image/png" href="/static/image/icon.png">
</head>
<body>
    <div class="banner">
        <img src="/static/image/banner_trans.png" alt="Page Banner">
    </div>

    <div class="character-selection-header">
        <span>사용하실 캐릭터를 선택해 주세요:)</span>
    </div>

    <div class="character-buttons">
        <div class="character-row">
            <div class="character-button" data-character="1">
                <img src="/static/image/character1.png" alt="퓨">
                <p>온통청년 마스코트 '퓨'</p>
            </div>
            <div class="character-button" data-character="2">
                <img src="/static/image/character2.png" alt="예건">
                <p>차분하고 상냥한 '예건'</p>
            </div>
        </div>
        <div class="character-row">
            <div class="character-button" data-character="5">
                <img src="/static/image/character3.png" alt="원영">
                <p>럭키비키 '원영'</p>
            </div>
            <div class="character-button" data-character="4">
                <img src="/static/image/character4.png" alt="영지">
                <p>흥부자 '영지'</p>
            </div>
            <div class="character-button" data-character="3">
                <img src="/static/image/character5.png" alt="홍철">
                <p>긍정 에너지 '홍철'</p>
            </div>
        </div>
    </div>

    <script src="/static/select_scripts.js"></script>
</body>
</html>
